.headercls {
    display: flex;
    align-items: center; /* Align items vertically to the center */
    /* justify-content: space-between; */
    /* gap: 16px; */
    /* margin-top: 0px; */
    flex-wrap: wrap;
 
}

.imglogo{
    width: 180px;
    height: 180px;
    margin: 0;
    padding: 0;
    display: block
}

.navbar {
    display: flex;
    align-items: center; /* Center items vertically */
    margin: 0;
    padding: 0;
    
}

.navbar ul{
    list-style-type: none;
    /* background-color:rgb(129, 174, 211); */
    /* padding: 20px; */
    margin: 20px;
    display: flex;
    gap: 16px;
    /* overflow: hidden; */
    
}

.navbar a{
    text-decoration: none;
    padding: 10px 20px;
    /* padding-left: 10px; */
    margin-bottom: 0px;
    display: block;
    border-radius: 3px;
    text-align: center;
    color: rgb(21, 23, 47);
    font-size: 18px;
    color: rgb(0, 89, 119);
}


.navbar li{
    float: left;
    /* size: 20px; */
    /* font-size: 18px; */
}

.navbar a:hover{
    background-color:rgb(203, 213, 226);
}

.loginimg{
    width: 40px;
    height: 40px;
    /* padding-left: 150px; */
    color: rgb(0, 89, 119);
    /* align-self: center; */
    

}

.welcomemsg{
    font-size: 17px;
    color: rgb(49, 66, 90);
    /* padding-left: 150px; */
}


.navbar .active {
    /* background-color: rgba(115, 178, 250, 0.68); */
    color: rgb(3, 28, 37); /* Text color for highlighted item */
    /* text-underline-position: auto; */
    font-weight: bold;
}



.dropdownMenu {
    position: absolute;
    background-color: white;
    width: 192px; /* Adjust as needed */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Optional shadow effect */
    z-index: 1;
    padding: 0;
    margin: 0;
    border-radius: 3px;
    display: block;
    text-decoration: none;
    text-align: left;

    
}

.dropdownMenu a {
    text-align: left;
    /* font-size: small; */

}


/* Hover effect for items */
.dropdownMenu:hover {
    background-color: #f1f1f1;
}


.container{
    border: 1px solid hs1(0, 0%, 80%);
    padding: 10px;
    margin-left: 150px;
    margin-bottom: 10px;
    width: auto;
    max-height: auto;
    display:inline-block;
    text-align:center;
    /* display: flex; */
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* align-self: center; */
    /* float: left; */
   
   }