.card{
    border: 1px solid hs1(0, 0%, 80%);
    border-radius: 5px;
    box-shadow:  3px 3px 3px rgb(198, 210, 225);
    padding: 10px;
    margin: 15px;
    /* max-width: 250px; */
    display: inline-block;
    text-align: left;
    display: flex;
    gap: 16px;
    /* align-items: center; */
    /* flex-wrap: wrap; */
}

.img{   
width: 250%;
height: 200px;
margin-top: 0px;
/* height: auto; */
}

.title{
color: rgb(0, 89, 119);
text-align: left;
margin-left: 25px;
margin-top: 0px;
margin-bottom: 0px;
padding: 0px;
}

.para{
color: rgb(51, 106, 114);
}