
.card1{
    border: 1px solid hs1(0, 0%, 80%);
    border-radius: 5px;
    /* box-shadow:  3px 3px 3px rgb(198, 210, 225); */
    padding-top: 0px;
    /* padding-bottom: 10px; */
    width: 340px;
    height: 140px;
    display: inline-block;
    text-align: left;
    /* text-align: left; */
    /* display: flex; */
    /* gap: 16px; */
    /* align-items: center; */
    /* justify-content: center; */
    align-self: right;
    float: right;
    /* font-size: 1px; */
}

.card2{
    border: 1px solid hs1(0, 0%, 80%);
    border-radius: 5px;
    /* box-shadow:  3px 3px 3px rgb(198, 210, 225); */
    padding-top: 0;
    padding: 10px;
    margin-top:0px;
    margin-right: 15px;
    width:370px;
    height: 140px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    align-self: left;
    float: left;
    
}

.card{
    border: 1px solid hs1(0, 0%, 80%);
    border-radius: 5px;
    box-shadow:  3px 3px 3px rgb(198, 210, 225);
    padding-top: 0;
    padding: 10px;
    margin-top:0px;
    margin-right: 8px;
    width:1130px;
    height: 190px;
    display: inline-block;
    text-align: center;
    color: rgb(1, 72, 95);
    
    /* text-align: left; */
    /* display: flex; */
    /* gap: 16px; */
    /* align-items: center; */
    /* justify-content: center; */
    align-self: right;
    float: right;
    
}

h3{
    padding: none;
    margin: none;
    color: rgb(1, 72, 95);
}

p{
    margin: none;
    padding: none;
    color: rgb(51, 106, 114);
    font-size:smaller;
}

/* svg {
    display: flex; 
    margin-top: 10px; 
    float: right;
} */