/* .bgcolor{
    display: block;
    background-color: rgb(200, 219, 238);
} */


.heading{
    /* text-align: left; */
    color: rgb(1, 72, 95);
    padding-top: none;
    padding-bottom: 35px;
    /* font-size:25px; */
    display: block; 
    /* background-color: rgb(200, 219, 238); */
    margin-right: 12px;
}


.rateContainer{
    text-align: center;
    display: flex;
    /* align-items: center; */
    justify-content: right;
    /* margin-right: 50px; */
    float: left;
    width: 100%;
    height: 180px;
    padding-top: 10px;
    /* background-color: rgb(200, 219, 238); */
    margin-right: 15px;
}




.rateButton{
    width: 40px;
    height: 40px;
    margin: 5px;
    margin-top: 57px;
    background-color: rgb(192, 204, 220);
    color: rgb(0, 89, 119);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    float: left;
    box-shadow:  3px 3px 3px rgb(186, 189, 192);
    margin-right: 15px;


}


.submitButton{
    width: 60px;
    height: 30px;
    margin-top: 30px;
    margin-left: 5px;
    background-color: rgb(192, 204, 220);
    color: rgb(0, 89, 119);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    float: left;
    /* box-shadow:  3px 3px 3px rgb(186, 189, 192); */

}

.submitButton:hover{
    background-color: rgb(135, 223, 181);
}

.rateButton:hover{
    background-color: rgb(186, 191, 199);
}

.rateDisplay{
    font-size: 2.5em;
    margin-right: 15px;
    /* float: left; */
    /* background-color: rgb(200, 219, 238); */
    border: none;
    color: rgb(13, 40, 70);
     

}

.card{
    border: 1px solid hs1(0, 0%, 80%);
    border-radius: 5px;
    box-shadow:  3px 3px 3px rgb(198, 210, 225);
    padding: 10px;
    margin-right: 15px;
    width: 200px;
    max-height: 190px;
    display: inline-block;
    /* text-align: left; */
    /* display: flex; */
    /* gap: 16px; */
    align-items: center;
    justify-content: center;
    align-self: center;
    float: right;
    /* background-color: rgb(200, 219, 238); */
    
}