
body {
  transform: scale(0.9);
  transform-origin: top left;
  width: 111.11%; /* Adjust width to prevent content cutoff */
}

*{
  background-color:rgb(222, 225, 228);
  font-family:'Trebuchet MS';
}

* {
  margin: 0; /* Remove all margins around the body */
  padding: 0; /* Remove all padding around the body */
  /* margin-bottom: 15px; */
}


.Toastify__toast {
  font-size: 12px;
  font-weight: bold;
}

.Toastify__toast--error {
  background-color: #ff4d4d; /* Red background for errors */
  /* color: white; */
  font-variant: #ff4d4d;
}

.Toastify__toast--success {
  background-color: #28a745; /* Green background for success */
  font-variant: #28a745;
}